<div class="col-md-offset-1 col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Hive Sites</h3>
    </div>

    <ul class="list-group">
      <% sites.each do |site| %>
        <%= link_to site.name, site_path(site), class: "list-group-item" %>
      <% end %>
      <%= link_to "Create a New Site", new_dashboard_site_path, class: "list-group-item text-center" %>
    </ul>
  </div>
</div>
