<h1 class="text-center">API Documentation</h1>

<div class="container-fluid">
  <h3>API Token</h3>
  <p>To make an API request, you must have a valid API key. The API key must be passed in the headers with the format:</p>
  <div class="api">
    <code class="api-code">Authorization: Token token=API_KEY</code>
  </div>

  <h3>URI</h3>
  <p>The URI for each API request is:</p>
  <div class="api">
    <code class="api-code">http://hivehealth.herokuapp.com</code>
  </div>

  <h3>Requests</h3>
  <h5>Site</h5>
  <p>To see the data for a single site, use the request:</p>
  <div class="api">
    <code class="api-code">/api/v1/sites/:id</code>
  </div>
  <p>Where <code class="api-code">:id</code> is the site's unique id.</p>
</div>
