#all-sites-map {
  height: 550px;
  width: 100%;
  margin: auto;
}

#dashboard-sites-map {
  height: 550px;
  width: 97%;
  margin: auto;
}

#site-show-map {
  height: 300px;
  width: 50%;
  float: right;
  border: 1px solid #bfbfbf;
}

.jumbotron {
  background-image: url("https://hd.unsplash.com/photo-1444579084407-edbadf1d3795");
  background-size: cover;
  min-height: 500px;
}
