<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="well">
      <h4 class="text-center">Locations of all the HiveHealth hives. <span class="healthy">Green</span> sites are healthy, and <span class="sick">red</span> sites have hives that need some kind of assistance.</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="all-sites-map">
        </div>
      </div>
    </div>
  </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>">
</script>
