<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="well well-sm">
      <h3 class="text-center">Locations of All HiveHealth Hives</h3>
      <h4 class="text-center"><span class="healthy">Green</span> sites are healthy hives, and <span class="sick">red</span> sites are at risk.</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="all-sites-map">
        </div>
      </div>
    </div>
  </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>">
</script>
